<div class="col-md4"></div>
  <div class="col-md4">
    <div class="panel panel-primary">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
          <div class="form-group" [class.has-error]="errors.non_field_errors">
            <div class="help-block">
              {{ errors.non_field_errors }}
            </div>
          </div>
          <div class="form-group" [class.has-error]="errors.username">
            <label for="username" class="control-label">Benutzername</label>
            <input formControlName="username" class="form-control">
            <div class="help-block">
              {{errors.username}}
            </div>
          </div>

          <div class="form-group" [class.has-error]="errors.password">
            <label for="password" class="control-label">Passwort</label>
            <input formControlName="password" type="password" class="form-control">
            <div class="help-block">
              {{ errors.password }}
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Anmelden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
